/* CSS BY Nicole Miller */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html, body, h1, h2, h3, p, a, address, img, ul, li, figure, figcaption, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} 
/* ROOT VARIABLES */
:root {
    
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    
}
/* GLOBAL STYLES (mobile first/small) */
body {
    min-width: 320px;
}

header, footer{
    background-color: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
}

header img {
    max-width: 25%;
}

h1 {
    font-family: "Display";
    font-size: 2em;
    padding: 5px;
}

header p {
    padding: 10px;
    font-style: italic;
    margin-bottom: 10px;
}

nav{
    background-color: var(--champagne-gold);
    font-family: "Playfair";
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: var(--midnight-blue);
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    color: var(--midnight-blue);
}

h3 {
    font-size: 1.5em;
}

main {
    font-family: 'Playfair';
    padding: 30px;
    color: var(--dark-charcoal);
}


/* MEDIA QUERY (medium) */

/* MEDIA QUERY (large) */

/* MEDIA QUERY (xl) */
